# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

***Objectives:***

* First python
* Second R
* Third Jupyterlab

### Some of the popular languages that Data Scientists use are:
- python 
- Jupyterlab
- R 
- VCode

### Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. matplotlib
4. ggplot

### Data Science Tools

|No. |Tools
| ------ | ------ 
| 1 | Python 
| 2 | R      
| 3 | Jupyterlab

### Below are a few examples of evaluating arithmetic expressions in Python.

In [6]:
#this a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [7]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author 
Hossam Sallam